:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey: grey;
  --clr-teal: #194256;
  --clr-offwhite: #fce9ed;
  --clr-lime: #7df1ca;
  --clr-pink: #f17da4;

  --primary: var(--clr-lime);
  --secondary: var(--clr-pink);
  --highlight: var(--clr-pink);

  --backdrop : var(--clr-teal);
  --surface: var(--clr-offwhite);
  
  --background: var(--backdrop);
  --foreground: var(--surface);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

header {
  background: var(--background);
  font-family: 'Playfair Display', serif;
}

.article-img {
  object-fit: cover;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    height: 100vh;
  }
  
  .article-img {
    float: left;
    height: 100vh;
    width: 49vw;
  }
  
  .article-titles {
    float: right;
    width: 49vw;
    height: 100vh;
    padding: 2vh 3vh;
    display: flex;
  }
  
  .headlines {
    margin: auto;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 2rem;
  }
}

